body {
	
	font-family:verdana;
	background-color:#ffffcc;
}

h1{
	color: yellow;
}

.topo {
	width: 200px;
	height: 200px;
	background-color: rgb(9, 160, 42);
	align-items: center;
}

.conteudo {
	width: 30px;
	height: 30px;
	align-items: center;
}

.rodape {
	width: px;
	height: 30px;
	border-radius: 10px 10px 10px 10px;
	align-items: center;
}

table, th, td {
	border: 1px solid yellow ;
}
